# Primary rofi configuration file.
{% do require('this.font') %}

# Set the border width.
rofi.bw: 3

# Set the font.
rofi.font: {{ this.font }}

# Hide the scrollbar.
rofi.hide-scrollbar: true

# Import colorscheme and some additional options from pywal.
rofi.theme: ~/.cache/wal/colors-rofi.rasi