# .gitignore file

# Ignore everything by default
/*

# Ironically, allow this file
!/.gitignore

# Allow README.md
!/README.md

# Allow the templates folder
!/templates/

# Allow the yaml folder
!/yaml/