# ~/.config/.gitignore
# The gitignore file for my dotfiles setup

# Ignore everything by default
/*

# Ironically, allow this file
!/.gitignore

# Allow README.md
!/README.md

# Allow other certain files
!/user-dirs.dirs

# Allow certain directories
!/cursor/
!/dunst/
!/i3/
!/polybar/
!/rofi/
!/scripts/
!/wal/
!/x/
!/zsh/

