/* Rofi Configuration File */
/* ----------------------- */
{% do require('font.name') %}
configuration {
  bw: 3;
  click-to-exit: false;
  font: "{{ font.name }} 12";
  hide-scrollbar: true;
}
@import "~/.cache/wal/colors-rofi-light"
