# Alacritty Configuration File
# ----------------------------
{% do require('font.alt_name') %}

font:
  normal:
    family: '{{ font.alt_name }}'
    style: Regular
  size: 16.0

scrolling:
  history: 10000

window:
  decorations: full
  dimensions:
    columns: 80
    lines: 20
  dynamic_title: true
  padding:
    x: 10
    y: 16
  startup_mode: Windowed
  title: 'Terminal'
